[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dyuv
[access "refs/for/refs/*"]
	read = group user/dyuv
	push = group user/dyuv
	label-Code-Review = -2..+2 group user/dyuv
	label-Verified = -1..+1 group user/dyuv
	rebase = group user/dyuv
	removeReviewer = group user/dyuv
	submit = group user/dyuv
[access "refs/heads/*"]
	read = group user/dyuv
	create = group user/dyuv
	push = +force group user/dyuv
	pushMerge = group user/dyuv
[access "refs/tags/*"]
	push = +force group user/dyuv
	pushTag = group user/dyuv
	pushSignedTag = group user/dyuv
